* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url("../images/stripes.png"), url("../images/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	background-size:auto, cover;
}
hr {
	width: 25px;
	border-color: #ff706e;
}
h1 { 
	font-family: helvetica;
	font-size: 22px;
	font-weight: lighter;
	color: #fff;
}
section {
	margin: 350 0 0 125;
}
.spacing {
	margin: 20 0 0 0;
}
.appspacing {
	margin: 15 0 0 0;
}

